/* General layout */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

canvas {
    background-color: transparent;
    transform: scale(1, -1)
}

/* Control slider styling */
.controls {
    margin-top: 10px;
}

#controlSlider {
    width: 200px;
    margin-left: 10px;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#resetButton {
    margin-top:15px;
    background-color: #f44336;
    color: white;
}

button:hover {
    filter: brightness(1.1);
}
